Rapport/main.aux
Rapport/main.fdb_latexmk
Rapport/main.fls
Rapport/main.log
Rapport/main.out
Rapport/main.pdf
Rapport/main.synctex.gz
Rapport/main.toc

# PSIM simulation file
Archives/2024-2025/05_Boucles_2310/boucle_vitesse.smv
Rapport/main.log
